body {
  text-align: center;
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }

.btn:hover {
    background-color: RoyalBlue;
}

.contact{
  display:inline-flex;
}

.top{
  text-align: center;
  margin-bottom: 20px;
}

.download{
  text-align: center;
  margin-bottom: 40px;
}
